/**
 *
 */
import {registerFormatType} from '@wordpress/rich-text';

/**
 *
 */
import './style.scss';

/**
 * Internal dependencies
 */
import metadata from './block.json';
import {edit} from './edit.js';

/**
 *
 */
registerFormatType(metadata.name, {
    title: '{{title}}',
    tagName: 'span',
    className: 'format-{{namespace}}-{{slug}}',
    edit,
});
